# Name: ZOLA_

# Author: Benoit Lelandais

Plugins>ZOLA>  Camera setup, "EMCCD", org.pasteur.imagej.ZOLA("setcameraEMCCD")
Plugins>ZOLA>  Camera setup, "SCMOS", org.pasteur.imagej.ZOLA("setcameraSCMOS")
Plugins>ZOLA, "-", -
Plugins>ZOLA, " Calibration: PSF modeling", org.pasteur.imagej.ZOLA("Calibration")
Plugins>ZOLA, " Localization", org.pasteur.imagej.ZOLA("Localization")
Plugins>ZOLA, "-", -
Plugins>ZOLA>Import/Export, "Import table", org.pasteur.imagej.ZOLA("Import")
Plugins>ZOLA>Import/Export, "Export table", org.pasteur.imagej.ZOLA("Export")
Plugins>ZOLA>Import/Export, "Append table", org.pasteur.imagej.ZOLA("Append")
Plugins>ZOLA>Import/Export, "Fuse table", org.pasteur.imagej.ZOLA("Fuse")
Plugins>ZOLA>Drift correction, "3D Drift correction", org.pasteur.imagej.ZOLA("driftCorrection")

Plugins>ZOLA>Drift correction, "reset correction", org.pasteur.imagej.ZOLA("resetDrift")

Plugins>ZOLA>, "Merging", org.pasteur.imagej.ZOLA("Condensation")
Plugins>ZOLA>, "Filtering", org.pasteur.imagej.ZOLA("Filtering")
Plugins>ZOLA>Visualization, "automatic 2D color histogram", org.pasteur.imagej.ZOLA("smartColorHist")
Plugins>ZOLA>Visualization, "2D color histogram", org.pasteur.imagej.ZOLA("colorHist")
Plugins>ZOLA>Visualization, "2D/3D histogram", org.pasteur.imagej.ZOLA("hist")
Plugins>ZOLA, "-", -
Plugins>ZOLA>additional tools, "CRLB", org.pasteur.imagej.ZOLA("CRLB")
Plugins>ZOLA>additional tools, "localization histogram", org.pasteur.imagej.ZOLA("stathisto")


Plugins>ZOLA>additional tools, "colorize opened 3D stack", org.pasteur.imagej.ZOLA("colorize")
Plugins>ZOLA>additional tools, "Best PSF model optimization", org.pasteur.imagej.ZOLA("phaseoptim")

#Plugins>ZOLA>additional tools>PSF generator, "Initialisation", org.pasteur.imagej.ZOLA("getModels_GPUalloc")
#Plugins>ZOLA>additional tools>PSF generator, "computation", org.pasteur.imagej.ZOLA("getModels_GPUcomput")
#Plugins>ZOLA>additional tools>PSF generator, "freeMemory", org.pasteur.imagej.ZOLA("getModels_GPUfree")